/* Sidebar.css */
.sidebar-container {
  display: flex;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 12rem;
  background-color: #b3f4ad;
  color: black;
  border-top-right-radius: 56px;
  border-bottom-right-radius: 56px;
  padding: 1rem;
  height: 80vh; /* Reduce sidebar height */
  margin: auto 0; /* Centers it vertically */
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* Reduce gap to keep items closer to the title */
}

.nav-item {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: background 0.3s ease;
}

.nav-item:hover {
  text-decoration: underline;
}

/* Highlight active link */
.nav-item.active {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

/* Help section, separated from nav-links */
.help-container {
  margin-top: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logout {
  margin-top: 0.5rem;
  color: #d9534f;
  cursor: pointer;
}

.logout:hover {
  text-decoration: underline;
}
